# 149900 Individual Task Analysis

Link to project: [Machine-Learning-Task](https://github.com/Arnold-18-CS/Machine-Learning-Task)

Importing necessary libraries

In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("Nairobi Office Price Ex.csv")
df.head()

,LOC,FUR,AMB,PROX_SCH,PROX_ROAD,PROX_MALL,WATER,HK_SER,SIZE,PRICE
0,karen,yes,serene,no,yes,yes,yes,yes,32.502345,31.707006
1,madaraka,yes,semi_serene,yes,yes,yes,no,no,53.426804,68.777596
2,karen,no,noisy,no,yes,yes,yes,yes,61.530358,62.562382
3,karen,yes,semi_serene,no,no,no,yes,yes,47.475640,71.546632
4,buruburu,no,semi_serene,no,yes,yes,yes,yes,59.813208,87.230925

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   LOC        14 non-null     object
 1   FUR        14 non-null     object
 2   AMB        14 non-null     object
 3   PROX_SCH   14 non-null     object
 4   PROX_ROAD  14 non-null     object
 5   PROX_MALL  14 non-null     object
 6   WATER      14 non-null     object
 7   HK_SER     14 non-null     object
 8   SIZE       14 non-null     float64
 9   PRICE      14 non-null     float64
dtypes: float64(2), object(8)
memory usage: 1.2+ KB

In [9]:
x = df['SIZE'].tolist()
y = df['PRICE'].tolist()
print(x,y)

[32.50234527, 53.42680403, 61.53035803, 47.47563963, 59.81320787, 55.14218841, 52.21179669, 39.29956669, 48.10504169, 52.55001444, 45.41973014, 54.35163488, 44.1640495, 58.16847072] [31.70700585, 68.77759598, 62.5623823, 71.54663223, 87.23092513, 78.21151827, 79.64197305, 59.17148932, 75.3312423, 71.30087989, 55.16567715, 82.47884676, 62.00892325, 75.39287043]